.footer__description {
    background-color: var(--secondary-bg-cl);
    font-style: normal;
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer__section {
    display: flex;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__div {
    padding-left: 70px;
    padding-top: 10px;
}

.footer__subcribe {
    padding: 0;
    padding-top: 10px;
    margin-right: 0;
    margin-left: auto;
}