.form_agree{
    font-family: var(--main-fonts);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--accent-txt-cl);
    margin: 0;
}

.form-agree_link {
    color: var(--blue-color);
    text-decoration: underline;
    cursor: pointer;
}