.form_agree{
    font-family: var(--main-fonts);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: var(--accent-txt-cl);
    margin: 0;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.7;
    }
}

.form-agree_link {
    color: var(--blue-color);
    text-decoration: underline;
    cursor: pointer;
}