:root {
    /* fonts */
    --main-fonts: "Roboto";
    --secondary-fonts: "Raleway";

    /* text colors */
    --accent-txt-cl: #757575;
    --secondary-txt-cl: #212121;

    /* background colors */
    --secondary-bg-cl: #2F303A;
    --third-party-bg: #F5F4FA;

    --blue-color: #2196F3;
    --white-clr: #ffffff;

    /* others */

    --indent: 30px;
    --items: 3;
}