.example__item {
    position: relative;

}

.example__caption {
    font-family: var(--main-fonts);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
}