.logo {
    font-family: var(--secondary-fonts);
    text-decoration: none;
    font-size: 26px;
    color: var(--blue-color);
    line-height: 1.19;
    margin-right: 94px;
}

.logo_header {
    color: #000000;
}

