.slogan {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.66;
    vertical-align: top;
    color: var(--white-clr);
    text-transform: uppercase;
    letter-spacing: 0.06em;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 360px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 700px;
    }
}
        