.slogan {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    vertical-align: top;
    color: var(--white-clr);
    text-transform: uppercase;
    letter-spacing: 0.06em;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 700px;
}