.title-caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--secondary-txt-cl);
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}